{% extends site_bundle_name ~ '::pagelayout.html.twig' %}

{% block content %}
    <h1>Vorgang Abgeschlossen</h1>

    <p>Thank you for your Message.</p>


    {#{{ dump( location ) }}#}

    {#{{ dump( content ) }}#}

    {#{{ dump( form ) }}#}


{% endblock %}
