<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Server Fehler: {{ status_text }}</title>
    </head>
    <body>
        <h1>Hoppla! Das hätte nicht passieren dürfen</h1>
        <h2>Der Server meldete einen Fehler "{{ status_code }} {{ status_text }}".</h2>
    </body>
</html>
