{% trans_default_domain site_bundle_name %}

<div class="content-view-full">
    <h1>{{ '404.header'|trans }}</h1>
    <div class="bg-white">
        <div class="text">

            <p>
                {{ '404.text'|trans }}
            </p>
            <p>
                <a href="/">{{ '404.link'|trans }}</a>
            </p>
        </div>
    </div>
</div>