{% extends site_bundle_name ~ '::pagelayout.html.twig' %}

{% block content %}
    <div class="class-form content-view-edit">

        <div id="content-main">
            <h1 class="content-header">Edit</h1>

            {{ form(form) }}
        </div>
    </div>

{% endblock %}
